.gallerySlider {
  overflow: hidden;
  &_wrapper {
    position: relative;
    width: 5740px;
    height: 448px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    @include mb() {
      width: 2530px;
      height: 197px;
    }
  }
  &_first {
    animation: bannermove 60s linear infinite;
    backface-visibility: hidden;
    will-change: margin-left;

    @include mb() {
      animation: bannermovemb 60s linear infinite;
    }
  }
  &_reverse {
    animation: bannermove 60s linear infinite;
    backface-visibility: hidden;
    animation-direction: reverse;

    @include mb() {
      animation: bannermovemb 60s linear infinite;
      animation-direction: reverse;
    }
  }
  &_item {
    display: inline-flex;
    width: 574px;
    height: 448px;
    padding: $spacing_1x $spacing_3x;

    &.prevent {
      pointer-events: none;
    }

    @include mb() {
      width: 253px;
      height: 197px;
      padding: 0 $spacing_2x;
    }
  }
}

@keyframes bannermove {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -5744px;
  }
}

@keyframes bannermovemb {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -2528px;
  }
}
