.header {
  z-index: $z_header;
  width: 100%;
  background-color: $color_white;
  border-bottom: 1px solid $color_gray_200;

  @include ls(100);

  @include header-pc() {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header_H_pc;
    padding: 0 $spacing_8x;
  }

  @include header-mb() {
    position: fixed;
    top: 0;
    height: $header_H_sp;
    padding: 0;
  }

  @include screen($breakpoints_header, map-get($breakpoints, xl)) {
    padding: 0 $spacing_4x;
  }

  &._bgColor {
    &__black {
      color: $color_white;
      background-color: $color_gray_1000;
      border-bottom: none;

      @include header-mb() {
        border-bottom: 1px solid $color_gray_500;
      }

      .header_menu {
        background-color: $color_gray_1000;
      }

      .header_menuButton {
        background-color: $color_gray_1000;
        border: 1px solid $color_gray_1000;
        border-right: 1px solid $color_gray_500;
        border-bottom: 1px solid $color_gray_500;
      }

      & span {
        background-color: $color_white;
        &::before {
          background-color: $color_white;
        }
        &::after {
          background-color: $color_white;
        }
      }
    }
  }

  &_menuButton span,
  &_menuButton span::before,
  &_menuButton span::after {
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    content: "";
    background-color: $color_gray_900;
    border-radius: 2px;
  }

  &_menuButton span::before {
    bottom: 6px;
    transition: transform 0.5s;
  }
  &_menuButton span::after {
    top: 6px;
    transition: transform 0.5s;
  }

  &_menuButton {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $header_H_sp;
    height: $header_H_sp;
    cursor: pointer;
    background-color: $color_white;
    border: 1px solid $color_light_blue_200;
    border-top: none;

    @include header-pc {
      display: none;
    }

    &.is_open {
      background: $color_gray_900;
      border: 0;
    }
    &.is_open span {
      background-color: transparent;
      &::before,
      &::after {
        top: 25%;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      // doing
    }
  }

  &_logo {
    @include header-pc() {
      display: contents;
    }
    @include header-mb() {
      display: inline-block;
      height: 100%;
      margin-left: $header_H_sp;
      transform: scale(0.8);
    }
  }

  &_menu {
    @include header-pc() {
      display: flex;
      align-items: center;
    }

    @include header-mb() {
      position: fixed;
      top: $header_H_sp;
      left: -320px;
      width: 320px;
      height: calc(100% - #{$header_H_sp});
      background-color: $color_white;
      transition: all 0.8s;
    }
  }

  &_nav {
    @include header-pc() {
      position: relative;
      display: flex;
      align-items: center;
    }

    &_item {
      position: relative;
      word-break: keep-all;

      @include fz($font_size_14);

      @include header-pc() {
        margin-right: $spacing_4x;
      }

      @include screen($breakpoints_header, map-get($breakpoints, xl)) {
        @include fz($font_size_13);
        margin-right: $spacing_2x;
      }
      & .__right_border {
        margin-right: $spacing_4x;

        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 30px;
          content: "";
          background-color: $color_gray_lighten1;
          transform: translateY(-50%);
        }
      }
    }
    &_link {
      &:hover {
        color: $color_yellow;
      }
    }
  }
  &_dropdown {
    display: none;
    word-break: keep-all;
    white-space: nowrap;
    background-color: $color_white;

    @include header-pc {
      position: absolute;
      top: $header_H_pc;
      left: 50%;
      border-top: 0;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    &._bgColor {
      &__black {
        color: $color_white;
        background-color: $color_gray_1000;
        border-bottom: 1px solid $color_gray_1000;
      }
    }
    &.is_open {
      display: block;
    }

    &_parent {
      display: flex;
      align-items: center;
      height: 100%;
      color: inherit;
      cursor: pointer;
      background-color: inherit;

      @include header-pc() {
        @include fz($font_size_14);
        height: $header_H_pc;
        line-height: $header_H_pc;
      }
    }
    &_item {
      @include header-pc() {
        margin: $spacing_2x 0;
      }
      a {
        display: block;
        padding: $spacing_2x $spacing_4x;
      }
      & ._active {
        background-color: $color_light_blue_100;
      }
      &:hover {
        background-color: $color_light_blue_100;
      }
    }
  }
  .icon_earth {
    margin-top: 0.2rem;
    margin-right: $spacing_1x;
  }
  .icon_arrow {
    margin-left: $spacing_2x;
  }
  ._bgColor {
    &__black {
      color: $color_white;
      background-color: $color_gray_1000;
      border-bottom: 1px solid $color_gray_1000;
      .header_dropdown_item {
        &._active {
          color: $color_yellow;
          background-color: rgba($color: $color_gray_800, $alpha: 0.2);
        }
        &:hover {
          background-color: rgba($color: $color_gray_800, $alpha: 0.2);
        }
      }
    }
  }
  &_button {
    @include header-mb() {
      width: 90%;
      margin: $spacing_4x auto $spacing_2x;
    }

    a {
      @include header-mb() {
        display: block;
        width: 100%;
      }
    }
  }
}
