.header {
  z-index: $z_header;
  width: 100%;
  background-color: $color_white;
  border-bottom: 1px solid $color_gray_200;

  @include ls(100);

  @include header-pc() {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header_H_pc;
    padding: 0 $spacing_8x;
  }

  @include screen($breakpoints_header, map-get($breakpoints, xl)) {
    padding: 0 $spacing_4x;
  }

  &._bgColor {
    &__black {
      color: $color_white;
      background-color: $color_gray_1000;
      border-bottom: none;
    }
  }

  &_menu {
    @include header-pc() {
      display: flex;
      align-items: center;
    }
  }

  &_nav {
    @include header-pc() {
      position: relative;
      display: flex;
      align-items: center;
    }

    &_item {
      position: relative;
      word-break: keep-all;

      @include fz($font_size_14);

      @include header-pc() {
        margin-right: $spacing_4x;
      }
      & .__right_border {
        margin-right: $spacing_4x;

        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 30px;
          content: "";
          background-color: $color_gray_lighten1;
          transform: translateY(-50%);
        }
      }
    }
    &_link {
      &:hover {
        color: $color_yellow;
      }
    }
  }
  &_dropdown {
    display: none;
    word-break: keep-all;
    white-space: nowrap;
    background-color: $color_white;

    @include header-pc {
      position: absolute;
      top: $header_H_pc;
      left: 50%;
      border-top: 0;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    &._bgColor {
      &__black {
        color: $color_white;
        background-color: $color_gray_1000;
        border-bottom: 1px solid $color_gray_1000;
      }
    }
    &.is_open {
      display: block;
    }

    &_parent {
      display: flex;
      align-items: center;
      height: 100%;
      color: inherit;
      cursor: pointer;
      background-color: inherit;

      @include header-pc() {
        @include fz($font_size_14);
        height: $header_H_pc;
        line-height: $header_H_pc;
      }
    }
  }
}
