.mainVisual {
  position: relative;
  width: 100%;
  overflow-y: visible;
  background-color: $color_gray_400;

  @include pc() {
    height: 147.9rem;
  }

  @include mb() {
    height: 127.3rem;
    :lang(en) & {
      height: 150rem;
    }
  }

  &_inner {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 0 $spacing_8x;
    margin: 0 auto;

    &_button {
      position: absolute !important;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, -7.2rem);
    }
    &_bannerRight {
      position: absolute;
      top: calc(100% - 950px);
      width: 59rem;
      right: 0;
      color: #fff;
      background: $color_black_gradien_opacity;
      padding: $spacing_14x $spacing_14x $spacing_24x;
      opacity: 0;

      @include max-screen(map-get($breakpoints, xs)) {
        width: calc(100% - #{$spacing_4x});
        max-width: 36em;
        padding: $spacing_10x $spacing_8x $spacing_9x;
      }

      @include ipad() {
        width: 95%;
        padding: $spacing_13x $spacing_9x $spacing_14x;
      }

      @include mb() {
        top: calc(100% - 653px);
        :lang(en) & {
          top: calc(100% - 800px);
        }
      }

      &__animated {
        transition: transform 0.1s ease-out 0s;
        transform: translate(0, 50px);
        animation: bottomToTop 1.5s both;
      }
      &_inner {
        max-width: 41.5rem;
      }
    }
    &_logo {
      margin-bottom: $spacing_10x;
      justify-content: center;
      animation: bottomToTop2 1.5s both;
      width: 90%;
      opacity: 0;
    }
    &_description {
      margin: 0 0 $spacing_14x;
      line-height: 1.75;
    }
    &_appDownload {
      & .appDownload_pc {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: $spacing_2x;
      }
      & .appDownload_link {
        display: flex;
        justify-content: center;
        text-decoration: underline;
      }
    }
    &_button {
      position: absolute;
      bottom: 0;
    }
  }
  &_heading {
    position: relative;
    top: $spacing_42x;
    z-index: $zIndex_mainVisualHeading;
    display: block;
    max-width: 1180px;
    margin: 0 auto;
    margin-left: 6.4%;

    @include mb() {
      top: $spacing_5x;
      left: 0;
      margin: 0 auto;
      @include fz($font_size_30);
    }
  }

  &_background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    background-image: radial-gradient(#0060ff4d 10%, transparent 31%), radial-gradient(#000 30%, transparent 31%);
    background-position: 0 0, 3px 3px;
    background-size: 3px 3px;
    opacity: 0.8;
  }

  &_video {
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 1.6s ease-in-out;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
}

@keyframes bottomToTop {
  0% {
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bottomToTop2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
