.textMainVisual {
  &._type {
    &__heading {
      margin: 0;
      overflow: hidden;
      font-weight: $font_weight_black;
      word-break: break-word;
      animation-name: bright;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      @include pc() {
        @include fz($font_size_64);
      }

      @include screen(769px, 1225px) {
        height: auto;
        font-size: 5.6vw;
      }
      span {
        display: inline-block;
        word-break: break-word;
        opacity: 0;
        transform: translate(0, 30px) scale(0.8);
        animation: revolveDrop 1.5s both;
      }
    }
    &__subTitle {
      margin-top: $spacing_6x;
      font-weight: normal;
      word-break: break-word;
      animation-name: bright;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      @include fz($font_size_16);

      span {
        display: inline-block;
        word-break: break-word;
        opacity: 0;
        transform: translate(0, 30px);
        animation: bottomToTop 2s both;
      }
    }
    &__title {
      margin: 0 0 $spacing_12x;
      font-weight: $font_weight_bold;
      word-break: break-word;
      @include fz($font_size_24);
    }
    &__default {
      display: inline;
      margin: 0;
      overflow: hidden;
      font-weight: $font_weight_normal;
      word-break: break-word;
      @include fz($font_size_16);

      span {
        word-break: break-world;
        animation: opacityDrop 2s both;
      }
    }
  }

  &._position {
    &__center {
      text-align: center;
    }
  }

  &._color {
    &__white {
      color: $color_white;
    }
  }
}

@keyframes revolveDrop {
  0% {
    transform: translate(0, 30px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

@keyframes bright {
  0% {
    text-shadow: 0;
  }

  35% {
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.5);
  }

  50% {
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.6);
  }

  65% {
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.5);
  }

  100% {
    text-shadow: 0;
  }
}

@keyframes bottomToTop {
  0% {
    transform: translate((0, 30px));
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes opacityDrop {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
