.textMainVisual {
  &._type {
    &__heading {
      margin: 0;
      overflow: hidden;
      font-weight: $font_weight_black;
      word-break: break-word;
      animation-name: bright;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      @include pc() {
        @include fz($font_size_64);
      }

      @include screen(769px, 1225px) {
        height: auto;
        font-size: 5.6vw;
      }
      span {
        display: inline-block;
        word-break: break-word;
        opacity: 0;
        transform: translate(0, 30px) scale(0.8);
        animation: revolveDrop 1.5s both;
      }
    }
  }

  &._color {
    &__white {
      color: $color_white;
    }
  }
}

@keyframes revolveDrop {
  0% {
    transform: translate(0, 30px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
