// slide from bottom to top animation
@keyframes mymoveTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mymoveRight {
  0% {
    opacity: 0.3;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animatedDirection {
  &.-right {
    .heading {
      transform: translateX(100%);
    }
    &--animated {
      .heading {
        animation: mymoveRight 1s;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        will-change: transform opacity;
        // -webkit-backface-visibility: hidden;
        // backface-visibility: hidden;
      }
    }
  }
  &.-bottomToTop {
    .imageBoxAnimated {
      transform: translateY(100px);
    }

    &--animated {
      .imageBoxAnimated {
        animation: mymoveTop 1s;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
      }
    }
  }
}
