/********************************************
		Utilities
********************************************/

// responsive
.is-pc {
  @include pc() {
    display: block !important;
  }

  @include mb() {
    display: none !important;
  }
}

.is-sp {
  @include pc() {
    display: none !important;
  }
  @include mb() {
    display: block !important;
  }
}

.is-header-pc {
  @include header-pc {
    display: block !important;
  }
  @include header-mb {
    display: none !important;
  }
}
.is-header-mb {
  @include header-pc {
    display: none !important;
  }
  @include header-mb {
    display: block !important;
  }
}
