/********************************************
		Variables
********************************************/

/* -----------------------------------------
      Breakpoints
------------------------------------------- */
$breakpoints: (
  // Extra small screen / Fold screen
  xxs: 280px,
  // Extra small screen / phone
  xs: 414px,
  // Small screen / phone
  sm: 640px,
  // Medium screen / tablet
  md: 768px,
  lg: 1044px,
  xl: 1120px,
  // Large screen / desktop
  xxl: 1280px,
  // Extra screen / desktop
  xxxl: 1368px
) !default;
$breakpoints_header: 924px;

/* -----------------------------------------
      Color
------------------------------------------- */

//static pages
$font_color_base: #222;
$color_black: #222;

// Gray
$color_white: #fff;
$color_gray_200: #edecee;
$color_gray_400: #bdbabf;
$color_gray_800: #484649;
$color_gray_1000: #100f09;
$color_gray_lighten1: #ccc;

// Yellow
$color_yellow: #ffc700;

// LightBlue
$color_light_blue_100: #f7f7fd;

/* -----------------------------------------
      Font Weight
------------------------------------------- */
$font_weight_black: 900;
$font_weight_bold: 700;
$font_weight_medium: 500;
$font_weight_normal: 400;
$font_weight_light: 100;

/* -----------------------------------------
      Width / Height
------------------------------------------- */
$header_H_pc: 64px;

/* ------------------------------------------
      spacing for padding / margin
------------------------------------------- */
$spacing_1x: 0.4rem;
$spacing_2x: 0.8rem;
$spacing_3x: 1.2rem;
$spacing_4x: 1.6rem;
$spacing_5x: 2rem;
$spacing_6x: 2.4rem;
$spacing_8x: 3.2rem;
$spacing_9x: 3.6rem;
$spacing_10x: 4rem;
$spacing_12x: 4.8rem;
$spacing_14x: 5.6rem;
$spacing_24x: 9.6rem;
$spacing_42x: 16.8rem;

/* -----------------------------------------
      Font size
------------------------------------------- */
$font_size_14: 14;
$font_size_15: 15;
$font_size_16: 16;
$font_size_24: 24;
$font_size_64: 64;

/* -----------------------------------------
      Font family
------------------------------------------- */
$font_base: "Noto Sans JP", sans-serif;

//Gradiention
$color_yellow_gradient: linear-gradient(103.27deg, #ffc700 18.62%, #ffe600 82.01%), #000;
$color_black_gradien_opacity: linear-gradient(90deg, rgba(#100f09, 0.9) 0%, rgba(#2b2e33, 0.9) 100%);
