/********************************************
		Variables
********************************************/

/* -----------------------------------------
      Breakpoints
------------------------------------------- */
$breakpoints: (
  // Extra small screen / Fold screen
  xxs: 280px,
  // Extra small screen / phone
  xs: 414px,
  // Small screen / phone
  sm: 640px,
  // Medium screen / tablet
  md: 768px,
  lg: 1044px,
  xl: 1120px,
  // Large screen / desktop
  xxl: 1280px,
  // Extra screen / desktop
  xxxl: 1368px
) !default;
$breakpoints_header: 924px;

/* -----------------------------------------
      Color
------------------------------------------- */

//static pages
$font_color_base: #222;
$color_black: #222;
$color_primary: #f69a08;
$color_secondary: #215ed7;
$color_darkblue: #0d3584;
$color_gray_lighten1: #ccc;
$color_gray_lighten3: #f8f8f8;

// Gray
$color_white: #fff;
$color_gray_50: #faf9fa;
$color_gray_100: #f5f4f5;
$color_gray_200: #edecee;
$color_gray_300: #e0dfe2;
$color_gray_400: #bdbabf;
$color_gray_500: #a29da4;
$color_gray_600: #767378;
$color_gray_700: #615f63;
$color_gray_800: #484649;
$color_gray_900: #212022;
$color_gray_1000: #100f09;

// Yellow
$color_yellow: #ffc700;
$color_yellow_50: #fffde8;
$color_yellow_100: #faf1ba;
$color_yellow_200: #f5e689;
$color_yellow_300: #f3dc54;
$color_yellow_400: #f2d12e;
$color_yellow_500: #f4c914;
$color_yellow_600: #f6bc0a;
$color_yellow_700: #f4a807;
$color_yellow_800: #f77701;
$color_yellow_a_100: #f7ed88;
$color_yellow_a_200: #f5e04a;
$color_yellow_a_400: #f5cd12;
$color_yellow_a_700: #f5b40e;
$color_yellow_new: #fdcf10;

// LightBlue
$color_light_blue_100: #f7f7fd;
$color_light_blue_200: #dfe6f0;

// Gradiention
$color_yellow_gradient: linear-gradient(103.27deg, #ffc700 18.62%, #ffe600 82.01%), #000;
$color_black_gradient: linear-gradient(90deg, #100f09 0%, #2b2e33 100%);
$color_black_gradien_opacity: linear-gradient(90deg, rgba(#100f09, 0.9) 0%, rgba(#2b2e33, 0.9) 100%);
$color_black_gradient_2: linear-gradient(90deg, #090b10 0%, #2b2e33 100%);
$color_black_gradient_3: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$color_white_gradient: linear-gradient(108.46deg, #fff 1.35%, #faf9f3 85.13%);
$color_blue_gradient: linear-gradient(179.48deg, #b3cede 3.48%, #d7cdbf 92.91%);
$color_white_gradient_2: linear-gradient(181.9deg, rgba(255, 255, 255, 0) -3.93%, #fff 85.61%);
$color_black_gradient_4: linear-gradient(90deg, rgba(16, 15, 9, 0.6) 0%, rgba(43, 46, 51, 0.6) 100%);

/* -----------------------------------------
      Font Weight
------------------------------------------- */
$font_weight_black: 900;
$font_weight_bold: 700;
$font_weight_medium: 500;
$font_weight_normal: 400;
$font_weight_light: 100;

/* -----------------------------------------
      Width / Height
------------------------------------------- */
$header_H_pc: 64px;
$header_H_sp: 48px;

// for business
$default_contents_W: 1044px;
$default_contents_W_medium: 1216px;
$default_contents_W_large: 1440px;
$default_contents_W_xlarge: 1920px;

/* ------------------------------------------
      spacing for padding / margin
------------------------------------------- */
$spacing_1x: 0.4rem;
$spacing_2x: 0.8rem;
$spacing_3x: 1.2rem;
$spacing_4x: 1.6rem;
$spacing_5x: 2rem;
$spacing_6x: 2.4rem;
$spacing_7x: 2.8rem;
$spacing_8x: 3.2rem;
$spacing_9x: 3.6rem;
$spacing_10x: 4rem;
$spacing_11x: 4.4rem;
$spacing_12x: 4.8rem;
$spacing_13x: 5.2rem;
$spacing_14x: 5.6rem;
$spacing_15x: 6rem;
$spacing_16x: 6.4rem;
$spacing_18x: 7.2rem;
$spacing_19x: 7.6rem;
$spacing_20x: 8rem;
$spacing_21x: 8.4rem;
$spacing_22x: 8.8rem;
$spacing_24x: 9.6rem;
$spacing_25x: 10rem;
$spacing_28x: 11.2rem;
$spacing_30x: 12rem;
$spacing_31x: 12.4rem;
$spacing_35x: 14rem;
$spacing_36x: 14.4rem;
$spacing_37x: 15rem;
$spacing_40x: 16rem;
$spacing_41x: 16.4rem;
$spacing_42x: 16.8rem;
$spacing_43x: 17.2rem;
$spacing_44x: 17.6rem;
$spacing_50x: 20rem;
$spacing_60x: 24.2rem;
$spacing_82x: 33rem;

/* -----------------------------------------
      Font size
------------------------------------------- */
$font_size_160: 160;
$font_size_100: 100;
$font_size_64: 64;
$font_size_55: 55;
$font_size_53: 53;
$font_size_48: 48;
$font_size_46: 46;
$font_size_42: 42;
$font_size_40: 40;
$font_size_37: 37;
$font_size_34: 34;
$font_size_32: 32;
$font_size_30: 30;
$font_size_28: 28;
$font_size_26: 26;
$font_size_24: 24;
$font_size_22: 22;
$font_size_20: 20;
$font_size_19: 19;
$font_size_18: 18;
$font_size_17: 17;
$font_size_16: 16;
$font_size_15: 15;
$font_size_14: 14;
$font_size_13: 13;
$font_size_12: 12;
$font_size_11: 11;
$font_size_10: 10;

// Border Radius
$input_BorderRadius: 5px;
$select_BorderRadius: 6px;
$tag_BorderRadius_small: 4px;
$tag_BorderRadius_medium: 5px;
$tag_BorderRadius_larger: 22px;
$fileDownload_BorderRadius: 8px;
$formContainer_BorderRadius: 8px;
$modalContainer_BorderRadius: 8px;
$label_BorderRadius_xsmall: 2px;
$label_BorderRadius_small: 4px;
$label_BorderRadius_medium: 10px;
$textArea_BorderRadius: 6px;
$searchBox_BorderRadius: 6px;
$fileDropBox_BorderRadius: 3px;
$licenseCard_BorderRadius: 8px;
$memberInvitation_BorderRadius: 6px;
$privacySetting_BorderRadius: 8px;
$radioButton_BorderRadius: 6px;
$galleryWithThumbnail_BorderRadius: 183px;
$galleryWithThumbnail_BorderRadius_sp: 114px;
$appDownLoadButton_BorderRadius: 6px;
$userProfile_BorderRadius_medium: 34px;
$userProfile_BorderRadius_small: 25px;
$userProfile_BorderRadius_xsmall: 14px;

/* -----------------------------------------
      Font family
------------------------------------------- */
$font_base: "Noto Sans JP", sans-serif;

//Gradiention
$color_yellow_gradient: linear-gradient(103.27deg, #ffc700 18.62%, #ffe600 82.01%), #000;
$color_black_gradien_opacity: linear-gradient(90deg, rgba(#100f09, 0.9) 0%, rgba(#2b2e33, 0.9) 100%);

/* -----------------------------------------
     Opacity
------------------------------------------- */
$opacity_hover: 0.75;
