/********************************************
		Variables
********************************************/

/* -----------------------------------------
      Color
------------------------------------------- */

//static pages
$color_black: #222;

// Gray
$color_white: #fff;
$color_gray_1000: #100f09;

/* ------------------------------------------
      spacing for padding / margin
------------------------------------------- */
$spacing_1x: 0.4rem;
$spacing_3x: 1.2rem;
$spacing_4x: 1.6rem;
