.newsList {
  &_contents {
    margin: $spacing_8x auto $spacing_14x;
    @include mb() {
      margin: $spacing_8x auto;
    }
  }
  &_item {
    &:not(:last-child) {
      margin-bottom: $spacing_6x;
    }
  }
}

.architect {
  width: 100%;
  &_image {
    width: 100%;
    height: 100%;
  }
}

._position {
  &__right {
    padding: $spacing_41x 0 0 calc((100% - #{$default_contents_W}) / 2 - #{$spacing_30x});

    @include mb() {
      padding: $spacing_20x 0 0 0;
    }
  }
  &__left {
    padding: $spacing_41x calc((100% - #{$default_contents_W}) / 2 - #{$spacing_30x}) 0 0;

    @include mb() {
      padding: $spacing_20x 0 0 0;
    }
  }
}

.imageBoxTop {
  position: relative;

  &_squareIcon {
    position: absolute;
    top: 440px;
    right: -122px;
    z-index: 1;
    transform: rotate(-22.25deg);

    @include mb() {
      top: 36px;
      right: -42px;
    }

    @include screen(map-get($breakpoints, md), map-get($breakpoints, lg)) {
      top: 36px;
      right: -48px;
    }

    @include screen(map-get($breakpoints, lg), map-get($breakpoints, xxxl)) {
      top: 67px;
      right: -75px;
    }
  }
}

.imageBoxBottom {
  position: relative;
  overflow: hidden;

  &_flashIcon {
    position: absolute;
    top: 40%;
    left: -180px;
    z-index: 1;
    // overflow: hidden;

    @include mb() {
      top: 30%;
    }
  }
}
.gallery {
  padding: $spacing_14x 0 $spacing_20x;

  @include mb() {
    padding: $spacing_6x 0 $spacing_14x;
  }

  &_top {
    margin-bottom: $spacing_6x;

    @include mb() {
      margin-bottom: $spacing_4x;
    }
  }

  &_center {
    margin-bottom: $spacing_6x;

    @include mb() {
      margin-bottom: $spacing_4x;
    }
  }

  &_bottom {
    margin-bottom: $spacing_14x;

    @include mb() {
      margin-bottom: $spacing_8x;
    }
  }
}

.creatorBanner {
  position: relative;

  &_squareIcon {
    position: absolute;
    right: -120px;
    bottom: 31rem;
    z-index: 2;
    transform: rotate(-22.25deg);

    @include mb() {
      right: -50px;
      bottom: 86rem;
    }

    @include screen(map-get($breakpoints, md), map-get($breakpoints, lg)) {
      right: -56px;
      bottom: 44rem;
    }

    @include screen(map-get($breakpoints, lg), map-get($breakpoints, xxxl)) {
      bottom: 36rem;
    }
  }
}
.creatorSection {
  &_item {
    &:not(:last-child) {
      margin-bottom: $spacing_6x;

      @include mb() {
        margin-bottom: $spacing_14x;
      }
    }
  }
}

.faqGroup {
  position: relative;
  margin-bottom: $spacing_41x;

  @include mb() {
    margin-bottom: $spacing_20x;
  }
}

.ctaBannerCreator {
  position: relative;
  overflow: hidden;

  @include mb() {
    margin-bottom: $spacing_22x;
  }

  &_flashIcon {
    position: absolute;
    bottom: -100px;
    left: -360px;
    z-index: 1;

    @include mb() {
      top: 70%;
      left: -82%;
    }
  }

  &_circleLively {
    position: absolute;
    top: -10rem;
    right: -20rem;
    z-index: 3;
    transform: translateY(28rem);

    @include mb() {
      top: 50rem;
      right: -8rem;
      transform: translateY(-16.5rem);
    }

    @include screen(map-get($breakpoints, md), map-get($breakpoints, xl)) {
      top: -5rem;
      right: -28rem;
    }
  }
}
