.wrapper {
  position: relative;
  min-height: 100vh;
}
.contents {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.initial-loading {
  position: fixed;
  z-index: $z_initialLoading;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: $color_black;
  opacity: 1;
  transition: all 0ms ease 500ms;

  &.-loaded {
    visibility: hidden;
    opacity: 0;
  }
}
