.circleLively {
  position: absolute;
  bottom: 5%;
  left: -6rem;
  width: 40rem;
  height: 40rem;
  &_svg {
    animation: rotate 10s infinite;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  70% {
    transform: rotate(-180deg) scale(1.5);
  }
  100% {
    transform: rotate(-1turn) scale(1);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
