.CTAButton {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  overflow: hidden;
  font-weight: $font_weight_bold;
  line-height: 1;
  text-align: center;
  letter-spacing: normal;
  cursor: pointer;

  &_icon {
    position: relative;
    width: 30px;
    margin-left: auto;

    &::before {
      position: absolute;
      top: 50%;
      right: 9px;
      width: 27px;
      height: 1px;
      margin-top: -1px;
      content: "";
      transition: all 0.5s ease;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: calc(100% - 9px);
      width: 0;
      height: 0;
      margin-top: -5px;
      content: "";
      border-style: solid;
      border-width: 5px 0 5px 9px;
      transition: all 0.5s ease;
    }

    &._iconColor {
      &__black {
        &::before {
          background: $color_gray_1000;
        }
        &::after {
          border-color: transparent transparent transparent $color_gray_1000;
        }
      }
      &__white {
        &::before {
          background: $color_white;
        }
        &::after {
          border-color: transparent transparent transparent $color_white;
        }
      }
    }
  }

  &_label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transition: opacity 0.2s;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: -100%;
    z-index: -1;
    display: block;
    transition: all 0.5s ease;
  }

  &:hover {
    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all 0.5s ease;
    }
  }

  &._type {
    &__default {
      color: $color_gray_1000;
      background: $color_yellow_gradient;
      border: 1px solid transparent;
      border-image: linear-gradient (103.27deg, #ffc700 18.62%, #ffe600 82.01%);
      border-image-slice: 1;

      &::after {
        content: "";
        background: $color_gray_1000;
      }

      &:hover {
        color: $color_white;
        border: 1px solid $color_white;
        border-image: linear-gradient(103.27deg, #ffc700 18.62%, #ffe600 82.01%);
        border-image-slice: 1;
      }
    }
    &__outline {
      color: $color_white;
      background: transparent;
      border: 1px solid $color_white;

      &::after {
        content: "";
        background: $color_yellow_gradient;
      }

      &:hover {
        color: $color_gray_1000;
        border: 1px solid transparent;
        border-image: linear-gradient(103.27deg, #ffc700 18.62%, #ffe600 82.01%);
        border-image-slice: 1;
      }
    }
  }
  &._size {
    &__small {
      @include pc() {
        min-width: 15.2rem;
        height: 3.9rem;
        padding: $spacing_3x;
        @include fz($font_size_15);
      }
    }
    &__medium {
      @include pc() {
        min-width: 44.8rem;
        height: 9.2rem;
        padding: $spacing_9x $spacing_6x;
        @include fz($font_size_15);
      }
    }
  }
}
