.circleLively {
  &.__animated {
    svg {
      animation: rotate 10s infinite;
    }
  }
  &_svg {
    transition: transform 1.3s;
    will-change: transform;
    &._type {
      &__default {
        width: 480px;
        height: 480px;

        @include mb() {
          width: 174px;
          height: 174px;
        }
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  70% {
    transform: rotateZ(-180deg) scale(0.75);
  }
  100% {
    transform: rotateZ(-360deg) scale(1);
  }
}
