.appLogo {
  display: inline-block;

  &._direction {
    &__vertical {
      display: inline-flex;
      align-items: center;
      height: 100%;

      .appLogo_mark {
        margin-right: $spacing_3x;
      }
    }
  }

  &._size {
    &__small {
      &._direction__vertical {
        .appLogo_mark {
          margin-right: $spacing_1x;
        }
      }
    }
  }

  &._iconColor {
    &__white {
      color: $color_white;
    }
  }
}
