.appLogo {
  display: inline-block;

  &.-direction {
    &--vertical {
      display: inline-flex;
      align-items: center;
      height: 100%;

      .appLogo_mark {
        margin-right: $spacing_3x;
      }
    }
  }

  &.-size {
    &--small {
      &.-direction--vertical {
        .appLogo_mark {
          margin-right: $spacing_1x;
        }
      }
    }
  }

  &.-iconColor {
    &--white {
      color: $color_white;
    }
  }
}
