.link {
  &._color {
    &__white {
      color: $color_white;
    }
  }
  &._fontSize {
    &__standard {
      @include fz($font_size_16);

      @include mb() {
        @include fz($font_size_12);
      }
    }
  }
  &._underline {
    text-decoration: underline;
    transition: all 0.5s;
    &:hover {
      opacity: 0.75;
    }
  }
}
